<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="vendor" id="vendor">
            <module name="Mageplaza_Vendor"/>
        </route>
        <route id="customer">
            <module name="Mageplaza_Vendor"/>
        </route>
    </router>
</config>
